
.function{
    margin: auto;
    width: 35%;
    border: double 6px #EAE2B7;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    margin-top: -25px;
  }
  .general{
    width: 100%;
    height: 250px;
    background-color: white;
    margin: auto;
    position: relative;
    margin-top: -25px;;
  }
  body{
    margin: none;
    background-color:#EAE2B7 ;
    margin: auto;
  }
  #task1{
    margin-left: 30px;
    color: cadetblue;
    text-decoration: underline;
  }
  #task2{
    color: cadetblue;
    text-decoration: underline;
  }
  .block{
    display:block;
    background-color: cadetblue;
    border:2px solid blue;
    height: 20px;
    width: 150px;
    padding: 5px;
    margin-bottom: 15px;
    
  }
  .inline{
    display: inline;
    background-color: yellow;
    border:2px solid red;
    padding: 5px;
    text-align: center;
  }
  .inline-block{
    display: inline-block;
    background-color: lightgreen;
    border:2px solid green;
    width: 150px;
    height: 20px;
    padding: 5px;
  }
  .general2{
    position: relative;
    margin: 50px 0px 0px 30px;
  }
  .center{
    margin: auto;
    width: 500px;
    border: double 10px white;
    padding: 20px;
  }